@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
	font-family: "Open sans", sans-serif;
	background-image: url("spongebob.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

h1 {
	font-weight: bold;
}

h2 {
	text-align: center;
	color: black;
	text-shadow:
		-1px -1px 0 white,  
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

textarea {
	width: 100%;
	height: 200px;

	background-color: transparent;
}